body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100vw;
  min-height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
    Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;

  background: #fafafa;
}

article {
  padding: 12px 0;
}
section,
article {
  margin-bottom: 48px;
}
section:last-child,
article:last-child {
  margin-bottom: 0px;
}

h1,
h2,
h3 {
  margin-bottom: 16px;
}
h4 {
  margin-bottom: 4px;
  font-weight: 600;
}

a {
  color: #2ec4b6;
  text-decoration: none;
}
a:visited {
  color: #1e94b6;
}
a:hover,
a:active {
  color: #ff9f1c;
}

#main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex: 1;
  
  margin: 0 auto;
  padding: 24px 0;

  color: #333;
  line-height: 1.6;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.header div {
  flex-grow: 1
}
.header img.profile-pic {
  width: 150px;
  height: 150px;
  margin-left: -20px;
}

.list-links {
  margin: 0 0 8px;
  padding: 0;

  list-style-type: none;
}

.post .header {
  padding-bottom: 12px;
  margin-bottom: 0px;
}
.post article {
  margin-bottom: 32px;
}
.post-meta {
  margin-bottom: 32px;
}