---
layout: default
---

<main id="main">
  {% include header.html %}

  <section>
    <h2>Blog</h2>
    {% if site.posts.size > 0 %}
      <ul class="list-links">
        {% for post in site.posts limit:10 %}
          <li>
            <span class="post">{{ post.date | date: "%Y %b %d" }} -</span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No posts yet!</p>
    {% endif %}
  </section>

  <section>
    <h2>Contact me</h2>

    <h4>Email</h4>
    <ul class="list-links">
      <li><a href="mailto:danny@dongwei.li">danny@dongwei.li</a></li>
    </ul>

    <h4>Social</h4>
    <ul class="list-links">
      <li>
        <a href="https://github.com/leedongwei/">github.com/leedongwei</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/leedongwei/">
          linkedin.com/in/leedongwei
        </a>
      </li>

      <li>---</li>

      <li>
        <a href="https://www.facebook.com/leedongwei/">
          facebook.com/leedongwei
        </a>
      </li>
      <li>
        <a href="https://instagram.com/dongweeei/">
          instagram.com/dongweeei
        </a>
      </li>
      <li>
        <a href="https://www.strava.com/athletes/dongweeei">
          strava.com/dongweeei
        </a>
      </li>
      <li>
        <a href="https://twitter.com/dongweeei/">twitter.com/dongweeei</a>
      </li>
    </ul>
  </section>
</main>
